h1{
    text-align: : center
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td,th,caption{
    border: solid 1px black;
    padding: 10px;
    text-align: center;
}
